.activity {
    $c-primary: #FF9841;
    $c-secondary: #FF98411A;
    padding: 0 40px;
    max-width: 1360px;
    margin-inline: auto;
    margin-bottom: 44px;

    @media (min-width: 1024px) {
        margin-bottom: 80px;
    }
}

.activity__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
        padding: 30px 22px 20px 22px;
        border: 2px solid #FF9841;
        border-radius: 30px;

        @include desktop {
        padding: 73px 60px 60px;
        }

}

.activity__title {
    text-align: center;
    margin-bottom: 25px;

    @media (min-width: 1024px) {
        align-self: center;
        margin-bottom: 48px;
    }
}

.activity__questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 32px;
        max-width: 870px;
    }
}

.activity__question {
    position: relative;
    display: inline-flex;
    font-size: 16px;
    color: #FF9841;
    margin-bottom: 37px;

    @media (min-width: 1024px) {
        font-size: 22px;
    }
}

.activity__question:hover {
    transform: rotate(-3deg);
}

.activity__question::after {
    position: absolute;
    content: '';
    bottom: -28px;
    height: 16px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='230' height='16' fill='none' viewBox='0 0 230 16'%3E%3Cpath stroke='%23ff9841' stroke-linecap='round' stroke-width='2.5' d='M1.25 1.5h137l13 12.5M152.5 1.25H228'/%3E%3C/svg%3E");
}

.activity__question--right:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='489' height='16' fill='none' viewBox='0 0 489 16'%3E%3Cpath stroke='%23ff9841' stroke-linecap='round' stroke-width='2.5' d='M1.25 2.25h289l13 12.5M303.25 1.25h184'/%3E%3C/svg%3E");
}

.activity__question--offset:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='321' height='16' fill='none' viewBox='0 0 321 16'%3E%3Cpath stroke='%23ff9841' stroke-linecap='round' stroke-width='2.5' d='M1.25 1.5h185.5l13 12.5M201.5 1.25H319'/%3E%3C/svg%3E");
}

.activity__question--right:hover {
        transform: rotate(3deg);
}

.activity__question--offset:hover {
        transform: rotate(3deg);
}


.activity__question--right {
    width: 185px;
    align-self: flex-end;

    @media (min-width: 1024px) {
        width: auto;
    }
}

.activity__question--offset {
    @media (min-width: 1024px) {
        margin-left: -16%;
    }
}

.activity__description {
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
        max-width: 700px;
        margin: 24px auto 80px;
    }
}

.activity__quote {
    background-color: #FF98411A;
    border-radius: 30px;
    padding: 53px 28px 28px 28px;
    text-align: center;
    color: #FF9841;
    line-height: 1.7;
    position: relative;
    width: 100%;

    @media (min-width: 1024px) {
        margin: 0 auto;
    }
}

.activity__quote::before {
    position: absolute;
    content: '';
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 30px;
    background: #FF98411A;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.activity__quote b {
    font-size: 16px;

    @media (min-width: 1024px) {
        font-size: 22px;
        display: block;
        max-width: 830px;
        margin-inline: auto;
    }
}

.activity__quote-author {
    font-size: 14px;

    @include laptop {
        font-size: 20px; 
        margin-top: 10px;
    }

    br {
        @include desktop {
            display: none;
        }
    }
}
