.article {
  font-size: 16px;

  p {
    font-size: inherit;
  }

  @include desktop {
    font-size: 20px;
  }

  ul {
    list-style-position: outside;

  }

  li {
    margin-bottom: 0;
  }
}

article p {
  margin-bottom: 0;
  margin-top: 34px;
  line-height: 1.7;
  font-size: $p-font-size;

  @include desktop {
    font-size: $p-font-size-desktop;
  }
}

article p:first-child {
  margin-top: 0;
}

article span {
  font-size: $p-font-size;
  line-height: 1.7;
  display: inline-block;

  @include desktop {
    font-size: $p-font-size-desktop;
  }
}

article ul {
  list-style-type: disc;
  padding-left: 16px;
}

article li {
  font-size: $p-font-size;
  color: $color-text-default;
  line-height: 1.7;

  span {
    font-weight: 700;
  }

  @include desktop {
    font-size: $p-font-size-desktop;
  }
}

article h3 {
  margin-top: 0;
}

article ol {
  list-style-type: decimal;
  font-weight: 700;
}

article ol b {
  font-weight: 700;
}

article ol p {
  font-weight: 400;
  margin-top: 0;
}

article ol li {
  margin-top: 34px;
}