.footer {
  flex-shrink: 0;
}

.footer .container {
  position: relative;

  @include desktop {
    padding-left: 80px;
  }
}

.footer__inner {
  display: flex;
  flex-direction: column;

  @media (min-width: 1480px) {
    flex-direction: row;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  font-family: $font-secondary;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid $color-primary;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include laptop {
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 70px;
    padding-bottom: 70px;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: 0;
    width: calc(100% - 260px);
  }

  @include desktop {
    width: calc(100% - 300px);
    max-width: 1120px;
    margin-right: 0;
    padding-top: 80px;
  }

  @include desktop-l {
    width: calc(100% - 350px);
  }

  @media (min-width: 1920px) {
    width: calc(100% - 390px);
  }
}

.footer__info-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include laptop {
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 20px;
  }

  a {
    text-decoration: none;
  }
}


.footer__info-item:nth-child(1) {

  @include laptop {
    width: 30%;
  }

  @include desktop-l {
    width: 28%;
  }

  @media (min-width: 1920px) {
    width: 21%;
  }
}

.footer__info-item:nth-child(2) {

  @include laptop {
    width: 40%;
  }

  @include desktop-l {
    width: 37%;
  }

  @media (min-width: 1920px) {
    width: 31%;
  }
}

.footer__info-item:nth-child(2) .footer__logo {
  margin-top: 15px;
  margin-bottom: 60px;

  @include laptop {
    margin: 0;
    margin-bottom: 16px;
    min-height: 46px;
    display: flex;
    align-items: center;
  }

  @include desktop-l {
    min-height: 57px;
    margin-bottom: 66px;
  }
}

.footer__info-item:nth-child(3) {
  @include laptop {
    width: 30%;
  }

  @include desktop-l {
    width: 35%;
  }
}

.footer__info-item:nth-child(4) {
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;

  img {
    width: 80px;
    height: 22px;
  }

  a.footer__logo {
    margin-bottom: 22px;
  }

  .footer_text {
    font-size: 14px;
    margin-bottom: 16px;
  }

  svg {
    width: 34px;
    height: 34px;
  }
}


a.footer__logo {
  position: relative;
  transition: none;
  width: fit-content;
  height: fit-content;
  margin-top: 0 !important;
  margin-bottom: 16px !important;
  width: 80px;

  &:after {
    display: none !important;
  }

  @include laptop {
    width: 160px;
    margin-bottom: 64px;
  }

  @include desktop-l {
    width: 200px;
    margin-bottom: 50px !important;
  }
}

.footer__info-item a,
.footer__info-item p {
  font-size: 14px;
  color: $color-muted;
  margin: 4px 0;
  line-height: 1.7;

  @include laptop {
    font-size: 20px;
  }

  @include desktop-l {
    margin: 9px 0;
  }
}

.footer__info-item a {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $color-primary;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    pointer-events: none;
  }

  &:hover::after,
  &:focus::after,
  &.active::after {
    transform: scaleX(1);
  }
}

.footer__info-item div:last-child {
  margin-bottom: 0;
}

.footer__social {
  margin-top: 20px;

  @include laptop {
    margin-top: 0;
    margin-bottom: 30px;
  }

  @include desktop-l {
    margin-bottom: 50px;
  }
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 15px;

  @include desktop-l {
    gap: 20px;
    margin: 6px 0;
  }
}

.footer__social-item {
  margin-top: 0;

  a {
    display: inline-block;
    margin: 0;
    transition: color $transition-duration;
    color: $color-orange;

    &:after {
      display: none;
    }

    &:focus,
    &:hover,
    &:active {
      color: $color-primary;
    }
  }

  svg {
    width: 34px;
    height: 34px;

    @include laptop {
      width: 47px;
      height: 47px;
    }
  }
}



.footer__nav {
  @include laptop {
    display: flex;
    flex-direction: column;
  }
}

.footer__nav-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @include laptop {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 24px;
  }

  @include desktop-l {
    flex-direction: column;
  }
}

.footer__nav-item {
  margin-bottom: 10px;

  @include laptop {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: $color-secondary;
    font-size: 20px;
    display: inline-block;

    @include laptop {
      margin: 0;
      font-size: 16px;
    }

    @include desktop-l {
      font-size: 20px;
    }
  }
}

.footer__nav-item:last-child {
  margin-bottom: 0;
}


.footer__contact {
  padding: 50px 60px;
  font-family: $font-secondary;
  width: calc(100% + 80px);
  margin-left: -40px;
  display: flex;
  flex-direction: column;
  background-color: #f0faf0;
  border-radius: 30px 30px 0 0;
  position: relative;
  color: $color-text-default;

  @include laptop {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 320px;
    margin-left: 0;
    border-top-right-radius: 0;
  }

  @include desktop-l {
    width: 560px;
    padding: 120px;
  }

  @media (min-width: 1920px) {
    width: 610px;

  }
}

.footer__contact h3 {
  font-size: 30px;
  font-weight: 400;
  color: $color-text-default;
  line-height: 1.3;
  margin-bottom: 24px;

  span {
    color: $color-primary;
    font-weight: 700;
  }

  @include desktop {
    font-size: 32px;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
    letter-spacing: -0.65px;
    line-height: 1.3;
  }

  @include desktop-l {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 50px;
  }
}


.footer__contact-logo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 130px;
  height: 130px;

  @include desktop-l {
    width: 200px;
    height: 200px;
  }
}