.info-block {
  display: flex;
  flex-direction: column-reverse;
  gap: 44px;

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 80px;
  }


  h2 {
    font-family: $font-secondary;
    margin-top: 0;
    letter-spacing: -0.8px;

    @include desktop {
      font-size: 36px;
      margin-bottom: 24px;
      letter-spacing: -1.3px;
    }
  }

  img {
    width: 100%;
    border-radius: 15px;

    @include laptop {
      width: 50%;
    }
  }
}

.info-block__text {
  width: 100%;

  @include desktop {
    padding-right: 10px;
  }

  h2 {
    @include desktop {
      margin-bottom: 24px;
    }

    span {
      color: $color-primary;
    }
  }

  p {
    margin-block: 21px 28px;

    @include desktop {
      font-size: 18px;
      margin-block: 20px;
    }
  }

  ul {
    font-size: 16px;
    list-style-position: inside;
    list-style-type: none;

    @include desktop {
      font-size: 20px;
    }

    li {
      display: flex;
      margin-bottom: 11px;

      &:before {
        content: "";
        width: 5px;
        height: 5px;
        background-color: #000;
        border-radius: 50%;
        flex-shrink: 0;
        margin-top: 8px;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }

  i {
    font-variation-settings: "wght" 300;
  }

  .button {
    @include desktop {
      font-size: 18px;
    }
  }
}

.info-block--secondary {
  align-items: center;
  flex-direction: column;

  @include laptop {
    flex-direction: row;
  }
}

.info-block--secondary .info-block__text {

  h2 {
    font-size: 28px;

    @include desktop {
      font-size: 40px;
    }
  }

  p {
    margin-top: 0;
    font-size: 16px;

    @include desktop {
      font-size: 20px;
    }
  }

  img {
    @include desktop {
      width: 760px;
      height: 460px;
      object-fit: cover;
    }
  }
}