.info-block {
  display: flex;
  flex-direction: column-reverse;
  gap: 44px;

  @include desktop {
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    gap: 80px;
  }


  h2 {
    margin-top: 0;
    letter-spacing: -0.8px;

    @include desktop {
      font-size: 36px;
      margin-bottom: 24px;
      letter-spacing: -1.3px;
    }
  }

  img {
    width: 100%;

    @include desktop {
      width: 50%;
    }
  }
}

.info-block__text {
  width: 100%;

  @include desktop {
    padding-right: 10px;
  }

  h2 {
    @include desktop {
      margin-bottom: 24px;
    }
  }

  p {
    margin-block: 21px 28px;

    @include desktop {
      font-size: 18px;
      margin-block: 20px;
    }
  }

  .button {
    @include desktop {
      font-size: 18px;
    }
  }
}