.contact {
  margin-bottom: 65px;
  margin-top: 34px;

  @include laptop {
    margin-top: 90px;
    margin-bottom: 140px;
  }
}

.contact__inner {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

.contact__text {
  width: 100%;

  @include desktop {
    width: 390px;
  }

  h1 {
    letter-spacing: -1px;

    @include desktop {
      letter-spacing: -1.6px;
      margin-bottom: 32px;
    }
  }

  p {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 32px;

    @include desktop {
      width: 100%;
      margin-top: 40px;
      margin-bottom: 48px;
    }
  }
}

.contact .link__more {
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  font-size: 16px;
  font-family: $font-secondary;
  font-variation-settings: "wght" 700;

  @include desktop {
    font-size: 20px;
  }

  svg {
    margin-left: 0;
    margin-right: 10px;
    display: block;
    color: $color-orange;
    width: 13px;
    height: 13px;
  }

  span {
    text-decoration: underline;
    color: $color-orange;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  gap: 32px;
  width: 100%;
  height: fit-content;

  @include desktop {
    margin-top: 41px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 45px;
    margin-top: 10px;
    width: 55.7%;
  }

  .form-group {
    flex-direction: column;
  }

  .form-group:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }

  .button {
    width: fit-content;

    @include desktop {
      margin-top: 0;
    }
  }
}