.scan {
    $c-primary: #FF9841;
    $c-secondary: #FF98411A;
    $c-gren: #F0FAF0;
    $c-font-green: #A9E52F;
    $c-border-circle: #B1B1B1;
}

.scan.analysis {
    position: relative;

    &:before {
        @include desktop {
            content: "";
            position: absolute;
            top: -150px;
            left: 0;
            width: 100%;
            height: 1130px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='1132' fill='none' viewBox='0 0 1920 1132'%3E%3Cg clip-path='url(%23a)' data-figma-skip-parse='true'%3E%3CforeignObject width='5182.4' height='5182.4' x='-2591.2' y='-2591.2' transform='matrix(-.552 .21734 -.19464 -.32634 552 751.031)'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' style='background:conic-gradient(from 90deg,rgba(183,233,82,.1656) 0deg,rgba(255,255,255,0) 205.068deg,rgba(169,229,47,.2) 317.34deg,rgba(183,233,82,.1656) 360deg);height:100%25;width:100%25;opacity:1'/%3E%3C/foreignObject%3E%3C/g%3E%3Cpath d='M1920 1126H0V86h1920z' data-figma-gradient-fill='%7B&quot;type&quot;:&quot;GRADIENT_ANGULAR&quot;,&quot;stops&quot;:%5B%7B&quot;color&quot;:%7B&quot;r&quot;:1.0,&quot;g&quot;:1.0,&quot;b&quot;:1.0,&quot;a&quot;:0.0%7D,&quot;position&quot;:0.56963396072387695%7D,%7B&quot;color&quot;:%7B&quot;r&quot;:0.66274511814117432,&quot;g&quot;:0.89803922176361084,&quot;b&quot;:0.18431372940540314,&quot;a&quot;:0.20000000298023224%7D,&quot;position&quot;:0.88149923086166382%7D%5D,&quot;stopsVar&quot;:%5B%7B&quot;color&quot;:%7B&quot;r&quot;:1.0,&quot;g&quot;:1.0,&quot;b&quot;:1.0,&quot;a&quot;:0.0%7D,&quot;position&quot;:0.56963396072387695%7D,%7B&quot;color&quot;:%7B&quot;r&quot;:0.66274511814117432,&quot;g&quot;:0.89803922176361084,&quot;b&quot;:0.18431372940540314,&quot;a&quot;:0.20000000298023224%7D,&quot;position&quot;:0.88149923086166382%7D%5D,&quot;transform&quot;:%7B&quot;m00&quot;:-1103.9998779296875,&quot;m01&quot;:-389.28445434570312,&quot;m02&quot;:1298.6422119140625,&quot;m10&quot;:434.68768310546875,&quot;m11&quot;:-652.68804931640625,&quot;m12&quot;:860.0314941406250%7D,&quot;opacity&quot;:1.0,&quot;blendMode&quot;:&quot;NORMAL&quot;,&quot;visible&quot;:true%7D'/%3E%3Cpath fill='url(%23b)' d='M1920 486h1920v486H1920z' transform='rotate(-180 1920 486)'/%3E%3Cpath fill='url(%23c)' d='M0 646h1920v486H0z'/%3E%3Cdefs%3E%3ClinearGradient id='b' x1='2880' x2='2880' y1='486' y2='972' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='960' x2='960' y1='646' y2='1132' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23fff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23fff'/%3E%3C/linearGradient%3E%3CclipPath id='a'%3E%3Cpath d='M1920 1126H0V86h1920z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
    }
}

.scan.page-header {
    margin-bottom: 40px;

    @include desktop {
        margin-bottom: 80px;
    }
}

.scan .page-header__scan-text {
    margin-bottom: 30px;

    @include desktop {
        margin-bottom: 44px;
    }
}

.scan .page-header__scan-text--one {
    max-width: 388px;

    @include tablet {
        max-width: 100%;
    }

    @include desktop {
        font-size: 24px;
        line-height: 1.5;
    }
}

.scan .page-header__image {
    width: 100%;
    height: 200px;
    object-position: 0px -20px;

    @include tablet {
        height: 500px;
    }

    @include desktop {
        width: 50%;
        height: auto;
    }

    @include desktop-l {
        width: 557px;
    }
}

.scan .h2 {
    text-align: center;
    margin-bottom: 25px;
}

.scan:has(.diagram__button--knowledge.diagram__button--active) .diagram__circle {
    border-color: #FF9841;
}

.scan:has(.diagram__button--mastery.diagram__button--active) .diagram__circle {
    border-color: #28D7E0;
}

.scan:has(.diagram__button--leadership.diagram__button--active) .diagram__circle {
    border-color: #009FE3;
}

.scan:has(.diagram__button--organization.diagram__button--active) .diagram__circle {
    border-color: #994BE2;
}

.scan.analysis {
    padding: 40px;

    @include tablet {
        padding-inline: 80px;
    }
}

.scan.analysis .h2 span {
    color: #A9E52F;
}

@include desktop {
    .scan.analysis .h2 {
        text-align: left;
    }
}

.scan.analysis .container-sm {
    max-width: 1280px;
    position: relative;
    padding: 40px;
    border: 2px solid #FF9841;
    border-radius: 30px;

    @include desktop {
        display: flex;
        justify-content: space-between;
        padding: 75px 105px 35px;
    }
}

.scan.analysis .content p:first-of-type {
    margin-bottom: 40px;
}

@include desktop {
    .scan.analysis .content {
        flex: 1 0 80%;
        max-width: 720px;
    }
}

.scan.analysis .image {
    margin: 40px auto;
    max-width: 141px;
    display: block;

    @include desktop {
        max-width: 258px;
        margin: 40px 0;
    }
}

.scan.accordion-block .accordion__wrapper {
    position: relative;
}

.scan.accordion-block .accordion__wrapper h2 {
    letter-spacing: 0;
    font-size: 18px;

    @include desktop {
        font-size: 20px;
        margin-bottom: 45px;
    }
}

.scan.accordion-block .accordion__wrapper svg {
    top: -17px;
    width: 34px;
    height: 34px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    color: $color-orange;

    @include desktop {
        top: -26px;
        width: 53px;
        height: 53px;
    }
}

.scan.accordion-block .accordion__summary {
    border-radius: 30px;
    background-color: #F0FAF0 !important;

    @include tablet {
        padding: 26px 22px;
    }
}

.scan.accordion-block .accordion__title {
    margin-top: 0;
}

.scan.accordion-block .accordion[open] .accordion__header.accordion__header {
    padding: 40px 30px;
}

.scan.accordion-block ul {
    padding-left: 40px;
}

.scan.accordion-block li {
    padding-bottom: 10px;
    color: #2d2d2d;
}

.scan.accordion-block p {
    padding-bottom: 10px;
}

.scan.accordion-block .accordion__mobile {
    @include desktop {
        display: none;
    }
}

.scan.accordion-block .accordion__mobile .accordion__content {
    position: relative;
}

.scan.accordion-block .accordion__mobile .openIcon {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border-left: 2px solid #FF9841;
    border-top: 2px solid #FF9841;
    transform: rotate(-135deg);
}

.scan.accordion-block .accordion__mobile .accordion[data-open="false"] .close {
    display: none;
}

.scan.accordion-block .accordion__mobile .accordion[data-open="true"] .openIcon {
    display: none;
}

.scan.accordion-block .accordion__mobile .close {
    display: block;
    position: relative;
    left: 10px;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border: 1px solid $color-orange;
}

.scan.accordion-block .accordion__mobile .close::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background: #FF9841;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.scan.accordion-block .accordion__mobile .close::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background: #FF9841;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.scan.accordion-block .tabs-main {
    margin: 0 !important;
}

.scan.accordion-block .accordion__desktop {
    position: relative;
    border-radius: 30px;
    background-color: #F0FAF0;
    padding: 80px;
    margin-bottom: 40px;

    @include desktop-l {
            padding: 80px 190px;
    }
}

.scan.accordion-block .accordion__desktop .buttonsWrapper-scan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.scan.accordion-block .accordion__desktop .buttonsWrapper-scan button {
    font-size: 20px;
    padding: 20px;
    border-radius: 12px;
    color: #FF9841;
    background-color: white;

    @include desktop {
        padding: 24px;
    }
}

.scan.accordion-block .accordion__desktop .buttonsWrapper-scan button[aria-expanded="true"] {
    background-color: #FF9841;
    color: white;
}

.scan.accordion-block .accordion__desktop .buttonsWrapper-scan button:hover {
    background-color: #FF9841;
    color: white;
}

.scan.accordion-block .accordion__desktop h3 {
    font-size: 30px;
}

.scan.accordion-block .accordion__desktop h3 span {
    color: #A9E52F;
    font-size: 30px;
}

.scan.accordion-block .accordion__desktop img {
    width: 274px;

    @include desktop {
        margin-right: 140px;
        margin-top: 25px;
    }
}

.scan.accordion-block .accordion__desktop .tab-content__item-scan {
    margin-top: 40px;
    width: auto;

    @include desktop {
        margin-top: 60px;
    }
}

.scan.accordion-block .accordion__desktop .tab-content__item-scan[aria-expanded="false"] {
    display: none;
}

.scan.accordion-block .accordion__desktop .tab-content__item-scan .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scan.accordion-block .accordion__desktop .tab-content__item-scan .wrapper:nth-of-type(1),
.scan.accordion-block .accordion__desktop .tab-content__item-scan .wrapper:nth-of-type(2) {
    align-items: flex-start;
}

.scan.accordion-block .accordion__desktop .tab-content__item-scan .wrapper:nth-of-type(1) div:first-of-type,
.scan.accordion-block .accordion__desktop .tab-content__item-scan .wrapper:nth-of-type(2) div:first-of-type {
    flex: 1 0 50%;
}

.scan.accordion-block .accordion__title--vertical {
    font-size: 20px;
    padding-right: 20px;
}

.scan.accordion-block .accordion-list {
    flex-direction: column;

}

.scan.accordion-block .accordion-list .accordion {
    display: block;
    width: 100%;
    max-width: 100%;
}

.scan.accordion-block .accordion__summary {
    width: 100%;
    min-height: auto;
}

.scan.accordion-block .accordion__header {
    flex-direction: row;
}