extends pug/base

prepend vars
  - title = 'Index'

append vars

block content 
  .container
    br
    h2
      a(href="home.html") Homepage
    h2
    h2
      a(href="about.html") Wie zijn wij?
    h2
      a(href="growth.html") Growth
    h2
      a(href="interim.html") Interim
    h2
      a(href="contact.html") Contact
    h2
    br